<div ng-controller="logInController">
    
        <form action="/" id="myLogin">

            <input type ="text"rows="1" name="username" placeholder="Username" ng-model="username"></input><br>
            <input type="password"rows="1" name="password" placeholder="Password" ng-model="password"></input><br>
            <button type="button" ng-click="submit()">Log In</button><br>
        </form>
        <text ng-model="clientlog">{{userLog}}</text>
   <div>      
       
<div ng-controller="signUpController">
    
    <a ng-href="#!signUp">Sign Up</a>
    
    <br> 
    
            
                    
</div>